@{
    ViewBag.Title = "O que é CApp?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CApp tem por objetivo automatizar a correção de provas introduzindo nas escolas um sistema que irá substituir as provas tradicionais e auxiliará os professores na correção das provas de gabarito.</p>
