@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidade Federal de Pernambuco<br />
    Centro de Informática<br />
</address>

<address>
    <strong>Desenvolvedores:</strong><br />
    <a href="mailto:anf@cin.ufpe.br">Artur Franco</a><br />
    <a href="mailto:evssm@cin.ufpe.br">Etevaldo Vinicius</a><br />
    <a href="mailto:lcfs@cin.ufpe.br">Larissa Camila</a><br />
    <a href="mailto:mgb@cin.ufpe.br">Marina Gabriela</a><br />
    <a href="mailto:tss2@cin.ufpe.br">Tulio de Souza</a><br />
       
</address>