@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CApp - Correção automática</h1>
    <p class="lead">A solução perfeita para agilizar a correção de provas nas escolas, universidades e cursinhos.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Praticidade</h2>
        <p>
            Com o CApp você cria provas dinâmicamente através de uma plataforma simples e intuitiva para seus alunos. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Conveniência</h2>
        <p>Não gaste seu tempo livre corrigindo provas de alunos. Com o CApp a correção é automática e o resultado pode ser consultado logo ao fim da prova.</p>
    </div>
    <div class="col-md-4">
        <h2>Sustentável</h2>
        <p>A cada prova tradicional a quantidade de papéis utilizada é absurda. Utilizando o CApp as respostas serão respondidas no dispositivo e os papéis da prova poderão ser reutilizados.</p>
    </div>
</div>